.padre{
    border: 3px solid grey;
    height: 30rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1%;
    margin: 4px;
}
.hijo1{
    border: 2px solid greenyellow;
    height: 10%;
    width: 97%;
    border-radius: 1%;
    margin: 4px;
}
.hijo2{
    border: 2px solid pink;
    height:9%;
    border-radius: 1%;
    margin: 4px;
}
.cajonhijo3-4{
    height: 21rem;
    display: flex;
    flex-direction: row;
    border-radius: 1%;
    margin: 4px;
}
.hijo3{
    border: 2px solid blue;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    margin: 4px;
}
.nieto1{
    border: 2px solid rgb(74, 240, 8);
    border-radius: 1%;
    margin: 4px;
}
.invisible{
    height:60%;
    border-radius: 1%;
    margin: 4px;
}
.nieto2{
    border: 2px solid pink;
    height: 15%;
    border-radius: 1%;
    margin: 4px;
}
.nieto3{
    border: 2px solid yellow;
    border-radius: 1%;
    margin: 4px;
}
.hijo4{     
    border: 2px solid burlywood;
    width: 35%;
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    margin: 4px;
}
.nieto4{
    border: 2px solid rgb(40, 251, 244) ;
    height:48%;
    border-radius: 1%;
    margin: 4px;
}
.hijo5{
    border: 2px solid yellow;
    height: 5%;
    width: 97%;
    border-radius: 1%;
    margin: 4px;
}
