*{
    margin: 0;
    padding: 0;
}
.hipervinculos{
    padding: 0;
    margin: 0;
    border: 12px solid black ;
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size:20px;
}
a{    
    text-decoration:none;
    color:rgb(255, 255, 255);
}
.title{
    margin-bottom: 70px;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
}
.padre{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.hijo{
    display: flex;
    flex-direction: column;
    margin: 100px;
}
.text{
    padding-bottom: 30px;
}
.foto{
    margin-right: 150px ;
    margin-top: 70px;
}