*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(220, 220, 215);
}
header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    height: 30px;
}
a{
    color: aliceblue;
    text-decoration: none;
    background-color: black;
    font-weight: bolder;
}
.card-container{
    margin-top: 5%;
    display: flex;
    width: 100%;
    justify-content: center;
}

button{
    margin-top: 10px;
    box-shadow: 5px 3px 3px black;
    border-radius: 5%;
}

#formulary{
    background-color: gray;
    border-radius: 5%;
    box-shadow: 5px 3px 3px black;
    height: 280px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 30%;
}
label{ background-color: gray;}

img {
    height: 300px;
    width: 200px;
    margin-right: 10px;
}

@media screen and (max-width:475px)
{
    *{
        background-color: rgb(245, 245, 167);
    }
    header{
        display: flex;
        justify-content: space-around;
        background-color: rgb(227, 92, 92);
        align-items: center;
        height: 40px;
    }
    a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: rgb(227, 92, 92);
    }
    .card-container{
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        justify-content: center;
    }
    #formulary{
        background-color: rgb(137, 228, 210);
        border-radius: 5%;
        box-shadow: none;
        height: 280px;
        width: 200px;
    }
    label{ background-color: rgb(137, 228, 210);}
    button{
        box-shadow: none;
        background-color: blanchedalmond;
    }
}