*{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-weight: bolder;
    background-color: blue;
    height: 40px;
    align-items: center;
}
a{
    text-decoration:none;
    color: black;
    font-weight: bolder;
}
.textcontacto{
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.formulario{
border: 10px solid black;   
display: flex;
flex-direction: column;
}
footer{
    display: flex;
}