*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Esta es el css de 
del HEADER*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-weight: bolder;
    font-size: large;
    background-color: blue;
    height: 40px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* EMPIEZA EL CSS DE CONTACTO*/
a{
    text-decoration:none;
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.textcontacto{
    display: flex;
    font-size: large;
    border-bottom: 2px solid rgb(255, 255, 255);
    flex-direction: row;
    background-color: black;
    color: white;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.cuestionario{
    width: 400px;
    background: #24303c;
    padding: 30px;
    justify-content: center;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    padding-bottom: 50px;
}
.cuestionario h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.control{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    border: 2px solid rgb(38, 0, 255);
}
.cuestionario p{
    height: 40px;
    font-size: 18px;
    text-align: center;
}
.button{
    padding: 14px;
    margin: 14px;
    width: 90%;
    font-size: 16px;
    background-color: rgb(30, 0, 255);
    color: white; 
}
/*TERMINA EL CSS DE CONTACTO*/
/*EMPIEZA EL CSS
DE TEAM*/
.team0{
    border-bottom: 2px solid white;
    text-decoration:none;
    background-color: black;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.cargo{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 40px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
    margin: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.team1{
    flex-direction: column;
    display: flex;
    background-color: rgb(55, 0, 255);
    justify-content: center;
    align-items: center;
    padding: 15%;
}
.asideteam{
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: large;
    padding: 15px;
    margin: 15px;
}
.titulocurso{    
    display: flex;
    border-bottom: 2px solid rgb(255, 255, 255);
    flex-direction: row;
    background-color: black;
    color: white;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
/*TERMINA EL CSS DE TEAM*/
/*EMPIEZA EL CSS
DE CURSO*/
.cursos{
        border: 2px solid black;
        flex-direction: column;
        background-image: url(fondo2.png);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
}
.categ{
    border: 3px solid black;
    border-radius: 40px;
    margin: 10px;
    padding: 5px;
    background-color: black;
    color: greenyellow;
}
.defcurs{
    border: 3px solid black;
    background-color: black;
    border-radius: 20px;
    color: white;
    margin: 5px;
    padding: 5px;
}
/*TERMINA EL CSS DE CURSO*/
/*EMPIEZA EL CSS
DE LANDING*/
.lantitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    background-color: black;
    border-bottom: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
}
.landinpadre{
    height: 87vh;
    background-image: url(fondo2.png);
    color: white;
    font-size: large;
    display: flex;
}
.landinhijo{
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
        border-top: 2px solid rgb(255, 255, 255);
        font-size: x-large;
        display: flex;
        justify-content: space-around;
        align-items: end;
        color: white;
        background-color: rgb(0, 0, 0);
        margin-top: auto;
}
.fotofooter{
    margin-top: 3px;
}