*{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    background-color: black;
    height: 40px;
    align-items: center;
}
a{
    text-decoration:none;
    color: rgb(0, 42, 252);
}
.textcontacto{
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.formulario{
border: 10px solid black;   
display: flex;
flex-direction: column;
}
footer{
    display: flex;
    justify-content: end;
}